@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

body {margin:0; padding:0; overflow-y:hidden; font: 23px  'Merriweather Sans', sans-serif; color: #e8522c;}

div#bajomarco{position: fixed; top: 0; left: 0; height: 50px; width: 0; background: #23100a; opacity: .8;  z-index: 80;}
div#top{position:fixed; top:0; left:0; background-color: transparent; height:50px; width:0; z-index:100; border-bottom: 8px solid #fe3900;}
div#nav{position:absolute; width:500px; height:50px; left:5%; top:10px;}
div.cl{float: left; cursor: pointer; font-size: 23px;}
div.cl:hover{font-size: 28px;}
div.en{float: left; cursor: pointer; font-size: 28px;}

div#bottom{position:fixed; bottom:0; left:0; background:#4bd3bd; height:150px; width:0; z-index:100;}
div#wrapper{position:absolute; background:white;}
div#stage1{position:absolute; background: url(../assets/wl_projects_wood.jpg); background-position:0 30%;}
div#banner{position: absolute; }
div#galeria{position:absolute; width:700px; height:420px; left:50%; margin-left:-350px; background: url(../assets/wl_projects_wood.jpg); top:10%; overflow:hidden;}
div#container{position:absolute; width:5600px; height:500px;}
div.slide{float: left;}

div#stage2{position:absolute; background: url(../assets/wl_projects_wood.jpg);}
div#stage3{position:absolute; background: url(../assets/wl_projects_wood.jpg);}
div#stage4{position:absolute; background: url(../assets/wl_projects_wood.jpg);}

.loaderAjax{
	display: none;
	position: absolute;
	left: 60%;
	top: 130px;
}

#contenedorImagen .fotografia{
	margin: 20px auto;
	width:320px;
	
	
}
#contenedorImagen2 .fotografia{
	margin: 20px auto;
	width:320px;
	
	
}
#clr div{
   cursor:pointer;
   width:20px;
   height:20px;
   float:left;
}

